<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TenderingfileMapper">


    <select id="selectAllBuPrjid" resultType="com.domain.Tenderingfile" parameterType="int">
        select id,tenderingprjid,filepath,filename from tenderingfile where tenderingprjid=#{id}
    </select>
</mapper>