<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.domain.Menu">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pId" jdbcType="INTEGER" property="pid"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="target" jdbcType="VARCHAR" property="target"/>
        <result column="open" jdbcType="VARCHAR" property="open"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, pId, url, target, `open`
    </sql>
    <select id="selectUserMenu" resultMap="BaseResultMap">
        select c.id,c.name,c.pid,c.url,c.target,c.open from usermidrole a inner join rolemidmenu b on a.roleid=b.roleid
        inner join menu c on b.menuid=c.id
        where a.userid=#{id}
    </select>


</mapper>